/* project page */
.project .proj-intro {
  font-size: 25px;
  line-height: 1.2;
  color: #364652;
}
.project .proj-intro-link {
  font-size: 25px;
  line-height: 1.2;
  display: block;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.project .proj-img, .project .proj-video {
  margin-top: 2rem;
  margin-bottom: 6rem;
}
