body {
  font-family: 'Karla', sans-serif;
  color: #000000;
  background-color: #FFFFFF; }

h1 {
  font-weight: 700;
  color: #5E798E; }

h2, h3 {
  font-weight: 700;
  color: #364652;
  margin-bottom: 2rem; }

p {
  font-size: 1.8rem;
  margin-bottom: 2rem; }

a {
  color: #6A89A0; }

a:hover {
  color: #6A89A0; }

img {
  max-width: 100%; }

ul.rm-list-style {
  list-style: none;
  padding: 0; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.title {
  margin: 9rem 0 3rem; }

.fade-link:hover {
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: opacity ease-out 0.5s;
  transition: opacity ease-out 0.5s; }

.squiggle {
  height: 2rem; }

@media (max-width: 992px) {
  .center-sm {
    text-align: center; } }
@keyframes bounce {
  0% {
    top: 0px; }
  50% {
    top: 10px; }
  100% {
    top: 0px; } }
@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
.img-swap {
  position: relative;
  display: block;
  height: 200px; }
  .img-swap img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition: opacity ease-in 0.5s;
    transition: opacity ease-in 0.5s; }
    .img-swap img:last-of-type {
      opacity: 0; }
  .img-swap:hover img:last-of-type {
    opacity: 100; }
  .img-swap:hover img:first-of-type {
    opacity: 0; }

/* navbar */
.navbar {
  background-color: #FFFFFF; }

.navbar-brand .logo {
  width: 3rem;
  margin-left: 1rem; }

.navbar-right {
  padding-right: 1rem; }
  .navbar-right li > a {
    color: #364652;
    font-size: 1.6rem; }
    .navbar-right li > a:focus, .navbar-right li > a:hover {
      background-color: transparent; }

.navbar-toggle .icon-bar {
  background-color: #364652; }

.collapse.in {
  background-color: #F1F8FB; }

/* footer */
.footer {
  padding-top: 8rem;
  padding-bottom: 2rem; }

.footer-contact {
  padding-bottom: 1rem; }

a.social:hover {
  text-decoration: none; }
a.social img {
  width: 3rem;
  margin: .5rem 2.5rem 4rem 0; }

/* pages */
/* portfolio */
.portfolio-box {
  padding-top: 5rem;
  padding-bottom: 2rem; }
  .portfolio-box img {
    height: 200px; }

#nationbuilder:hover {
  position: relative;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

#cg221:hover {
  position: relative;
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

@media (max-width: 1200px) {
  .portfolio-box img {
    height: 175px; } }
@media (max-width: 776px) {
  .portfolio-box img {
    height: 200px; } }
/* about */
.about h2 {
  margin-top: 4rem; }
.about li {
  margin: 1.5rem 0; }
.about .about-pic {
  margin: .5rem 0 4rem;
  width: 400px; }
.about .bio {
  padding-bottom: 2rem; }

/* project page */
.project .proj-intro {
  font-size: 25px;
  line-height: 1.2;
  color: #364652; }

.project .proj-intro-link {
  font-size: 25px;
  line-height: 1.2;
  display: block;
  margin-top: 2rem;
  margin-bottom: 4rem; }

.project .proj-img, .project .proj-video {
  margin-top: 2rem;
  margin-bottom: 6rem; }

/*# sourceMappingURL=style.css.map */
