body {
    background-color: #EDF9F3;
}
a {
    color: #000000;
}
img {
    max-width: 100%;
}
.header {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 5;
}
.header-logo img {
    width: 3rem;
    margin-top: 1rem;
}
nav a {
    padding: 1rem;
}
.right {
    text-align: right;
}
.portfolio {
    text-align: center;
    margin-top: 60px;
}
.portfolio-box img {
    max-height: 200px;
}
.hover img:last-of-type {
  	display: none;
}
.hover:hover img:last-of-type {
  	display: inline-block;
}
.hover:hover img:first-of-type {
  	display: none;
}
.social img{
    width: 3rem;
}
.footer-contact {
    border-left: 1px solid #eee;
}
