$font-weight-bold: 700;
$font-weight-normal: 400;
$body-bg-color: #FFFFFF;
$text-color: #000000;
$dark-gray: #364652;
$dark-blue: #5E798E;
$med-blue: #6A89A0;
$light-gray: #F1F8FB;

body {
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  color: $text-color;
  background-color: $body-bg-color;
}
h1 {
  font-weight: $font-weight-bold;
  color: $dark-blue;
}
h2, h3 {
  font-weight: $font-weight-bold;
  color: $dark-gray;
  margin-bottom: 2rem;
}
p {
  margin-bottom: 2rem;
}
a, a:hover {
  color: $med-blue;
}
img {
  max-width: 100%;
}
ul.rm-list-style {
  list-style: none;
  padding: 0;
}
.title {
  margin: 9rem 0 3rem;
  text-align: center;
}
.squiggle {
  height: 2rem;
}
@media (max-width: 992px) {
  .center-sm {
    text-align: center;
  }
}

@import 'animations';
@import 'navbar';
@import 'footer';

/* pages */
@import 'portfolio';
@import 'about';
@import 'project-page';
